
/dual-vca-kosmo/dual-vca-kosmo-backups
dual-vca-kosmo/fp-info-cache
dual-vca-kosmo/dual-vca-kosmo.kicad_prl
/no-fi-delay/no-fi-delay-backups
no-fi-delay/fp-info-cache
no-fi-delay/no-fi-delay.kicad_prl
